.blurb {
    color: #1E0C18;
    padding: 2rem;
}

.blurbImg {
    width: 80%
}

.devLink {
    text-decoration: none;
    color: #631D4D
}

.homePageBanner {
    color: #1E2124;
    padding-top: 1rem;
    padding-bottom: 1rem;
}