input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cartItemPicture {
    height: 100px;
    width: 150px;
}

.cartItemCard {
    background-image: linear-gradient(45deg, #4f3364, #989143);
    display: -moz-grid;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem 0.6rem;
    border: 0.5rem solid rgba(145, 3, 3);
    border-radius: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    position: relative;
    text-decoration: none;
  }