.signUpForm {
  margin: 2rem;
  border: 0.5rem solid #bcc870;
  border-radius: 1rem;
  padding: 2rem;
}

.authFormLabel {
  color: #1e0c18;
  font-size: 1.4rem;
  font-weight: bold;
}

.authFormInput {
  margin: 0.1rem;
}

.authFormName {
  color: #bcc870;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 1.5rem;
  margin-top: 0rem;
}

.submitButton {
  margin-top: 1rem;
  width: stretch;
  position: center;
}
